// * COLORS

$color-brand: #FF7C7C;
$color-green-highlight: #8FD783;
$color-green-dark: #29631e;
$color-blue-light: #00B8FF;
$color-blue-dark: #006BD1;
$color-border: rgba(0, 0, 0, 0.2);

$color-calendar-available: #ECECEC;
$color-calendar-busy: #C4C4C4;

$color-text-dark: black;
$color-text-medium: rgba(0, 0, 0, 0.75);
$color-text-light: rgba(0, 0, 0, 0.6);

// * BORDER RADII

$border-radius-regular: 4px;

// * FONT SIZES

$font-size-small: 9pt;
$font-size-medium: 11pt;
$font-size-large: 14pt;
